<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Profile - Order App</title>
</head>
<body>
<main layout:fragment="content" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4 text-center">User Profile</h1>

            <div class="card user-profile-card">
                <div class="card-body">
                    <h2 class="card-title text-center" th:text="${user.firstName + ' ' + user.lastName}"></h2>
                    <p class="card-text text-center text-muted" th:text="${user.email}"></p>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0"><strong>User Email:</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0" th:text="${user.email}"></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="mb-0"><strong>Roles:</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">
                                <span th:each="role, iterStat : ${user.roles}" th:text="${role.name + (iterStat.last ? '' : ', ')}"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4 text-center">
                <a th:href="@{/users/{userId}/update(userId=${user.id})}" class="btn btn-primary">Edit Profile</a>
                <a th:href="@{/orders/user/{userId}(userId=${user.id})}" class="btn btn-info"  sec:authorize="hasRole('ROLE_ADMIN')">View Orders</a>
                <form th:action="@{/users/{userId}/delete(userId=${user.id})}" method="post" style="display: inline;" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')">Delete User</button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>