<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/head :: head}"></head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>


    <main layout:fragment="content">
        <!-- This is where page-specific content will be inserted -->
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

</body>
</html>